<ion-view view-title="Pinguine">
  <ion-content class="padding">
    <h2>{{text}}</h2>

    <img src="./img/pinguine.jpg"  />

    <p>Wie viele Pinguine kannst du auf obigem Bild erkennen?</p>


    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Meine Antwort
        </div>
        <select>
          <option>keinen</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>99</option>
        </select>
      </label>

    </div>


    <a href="#/tab/chats" class="button icon-left ion-chevron-left button-calm">Zurück</a>

  </ion-content>
</ion-view>
